# Bỏ qua các file thực thi
*.exe

# Bỏ qua các file rác sinh ra từ Code Runner
tempCodeRunnerFile.*

.bin/

# Bỏ qua file .md GIAI_THICH_DU_AN.md
GIAI_THICH_DU_AN.md
# Bỏ qua file .md THUAT_TOAN_CHI_TIET.md
THUAT_TOAN_CHI_TIET.md
PRESENTATION_SLIDES.md